.btn-custom-danger {
    background-color: #F71735 !important;
    color: #FDFFFC !important;
}

.btn-custom-primary {
    background-color: #1dd3b0 !important;
    color: #FDFFFC !important;
}

.btn-custom-blue {
    background-color: #5c7aff !important;
    color: #FDFFFC !important;
}